@font-face {
  font-family: "Warrior";
  src: url("../fonts/warrior.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

/* Página A4 */

.page {
  width: 210mm;
  height: 297mm;

  display: grid;

  grid-template-columns: repeat(3, 63mm);
  grid-template-rows: repeat(3, 88mm);

  gap: 5mm;

  padding: 5mm;

  box-sizing: border-box;

  page-break-after: always;
}

/* Card */

.card-back {
  width: 63mm;
  height: 88mm;

  border: 1.5px solid #333;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  text-align: center;

  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.16),
    transparent 70%
  );
}

/* Conteúdo */

.back-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Nome do jogo */

.back-title {
  font-family: "Warrior", serif;

  font-size: 24px;

  letter-spacing: 3px;

  margin-top: 4px;
}

/* Subtitulo */

.back-sub {
  font-size: 10px;
  margin-top: 4px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Ícone */

.back-icon {
  font-size: 28px;
  margin-bottom: 8px;
}

/* Impressão */

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .page {
    page-break-after: always;
    margin: 0;
    padding: 5mm;
  }
}
